@keyframes arrow-movement {
    0% {
        transform: translateY(10px);
    }
    25% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    75% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10px);
    }
}

@keyframes ldio-516bsy9dkfw {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}